@import '../../../scss/variables';

.container--notify {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.notify {
    border-radius: $border-radius;
    background-color: $color-primary;
    color: #fff;
    text-align: center;
    padding: .625rem;
    margin-top: 1.25rem;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}