<div class="container">
  <div class="row row--margin-t">
    <div class="row__col1">
      <ul class="menu menu--vertical">
        <li><a routerLink="settings" routerLinkActive="active"><span class="fa fa-cogs menu__icon"></span> Settings</a></li>
        <li><a routerLink="stats" routerLinkActive="active"><span class="fa fa-trophy menu__icon"></span> Stats & Achievments</a></li>
      </ul>
    </div>
    <div class="row__col2 row--bg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

