<header class="header">
  <div class="container">
    <div class="brand">
      <h1 class="brand__headline"><span class="brand__to">To</span><span class="brand__do">D<span class="fa fa-check-circle brand__icon"></span></span><span class="brand__ne">ne</span></h1>
    </div>
    <app-item-edit></app-item-edit>
    <ul class="menu menu--inline menu--right">
      <li><a routerLink="tasks" routerLinkActive="active">To Do</a></li>
      <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
    </ul>
  </div>
</header>
