@import '../../../../scss/variables';

.todo-list {
    list-style: none;
    

    &__btn-remove-all {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.section {
    position: relative;
}