* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    background-color: $light-grey;
    font-weight: 300;
    line-height: 1.6;
}

.todo-list__edit {
    form {
        @media (max-width: 400px) {
            flex-wrap: wrap;
        }
        input {
            @media (max-width: 400px) {
                margin: 0;
            }
        }
        button {
            @media (max-width: 400px) {
                width: 100%;
                margin-top: .625rem;
            }
        }
    }
}