.headline {
    margin-bottom: 1.25rem;

    &--underline {
        &::after {
            content: "";
            display: block;
            border-bottom: 1px $light-grey solid;
            max-width: 100px;
        }
    }
}