$color-primary: #24cf5f;
$color-secondary: lighten($color-primary, 20%);
$light-grey: #ddd;
$lighter-grey: #eee;
$dark-grey: #333;

$font-family: "Raleway", sans-serif;

$border-radius: 5px;

$checkbox-size: 30px;
$edit-btn-size: 24px;