<div class="home container">

    <div class="brand">
      <h1 class="brand__headline brand__headline--large"><span class="brand__to">To</span><span class="brand__do">D<span class="fa fa-check-circle brand__icon"></span></span><span class="brand__ne">ne</span></h1>
    </div>
    <div class="home__text">
      <p class="home__lead">Another simple To Do app!</p>
    </div>
    <div class="btn-group">
      <button class="btn btn--primary" (click)="onDemo()">Demo</button>
    </div>
    <div class="features">
      <h2 class="features__headline features__headline--main">It doesn't have!</h2>
      <div class="row">
        <div class="row__col1 features__box">
          <span class="fa fa-folder features__icon"></span>
          <h3 class="features__headline">Projects</h3>
          <p>You can't group tasks by project.</p>
        </div>
        <div class="row__col1 features__box">
          <span class="fa fa-calendar features__icon"></span>
          <h3 class="features__headline">Schedules</h3>
          <p>You can't set deadlines or assign task a date.</p>
        </div>
        <div class="row__col1 features__box">
          <span class="fa fa-users features__icon"></span>
          <h3 class="features__headline">Collaboration</h3>
          <p>You can't work with others.</p>
        </div>
      </div>
      <h3 class="features__headline features__headline--main">And much more!</h3>
    </div>
</div>